<div class="profile-container">
  <h1 class="profile-heading">User Profile</h1>

  <div class="profile-details">
    <h4>Name: <%= @user.name %></h4>
    <h4>Email: <%= @user.email %></h4>
    <h4>Type: <%= @user.typee %></h4>
  </div>
  <% if @user.id==current_user.id%>
    <div class="delete-button">
      <%= button_to "Delete this profile",home_path(),method: :delete,data: { confirm: "Are you sure you want to delete this profile?" },class: "btn btn-danger btn-lg"%>
    </div>
  <%end%>

</div>
